/* selector */

/* tag html */

h1 {
    color: blue;
}

/* class name */

.kapital{
    color: pink;
    word-spacing: 2px;
}

/* id name */
#kapitalenam {
    color: red;
}

/* sizing */

.kotak {
    width: 200px;
    height: 200px;
    background: red;
    margin-top: 200px;
}

/* margin dan padding */

.kotak1 {
    padding-top: 30px;
    padding-left: 30px;
    margin: 20px;
    box-sizing: border-box;
}

.kotak2 {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border: 1px solid black;
    margin: 20px 30px 40px 50px;
    padding: 20px 30px 40px 50px;
}