/* layouting */

.navbar {
    background: lightcoral;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    padding: 10px;
    /* horizontal */
    justify-content: center;
     /* vertical */
     /* align-items: center; */
     /* tulisan horizontal / vertical */
     /* flex-direction: column; */
}

.kotak{
    height: 80px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-color: lightcyan;
}

.kotak1 {
    height: 80px;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: skyblue;
}